@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Ubuntu');

@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans:600|Ubuntu');

/* Fade In - Fade Out */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Termino Fade In - Fade Out */

@media (min-width: 576px) {
}
@media (min-width: 768px) {
 }
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

@media (min-width: 0) {
}

.custom-class {
  display: none;
}

#container1{
    background-color: rgba(170, 169, 173, 0.644);
}

#center {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#config-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    height: 200px;
    object-fit: contain;
    width: 200px;
    transition-duration: 2s;
    position: relative;
    -webkit-animation: fadeIn 4s ease-in-out;
    -moz-animation: fadeIn 4s ease-in-out;
    -o-animation: fadeIn 4s ease-in-out;
    animation: fadeIn 4s ease-in-out;
}

#text{
    font-family: 'Nunito', sans-serif;
}
