<div class="card-columns">
  <div class="card" align="center">
    <img src="../assets/c1.png" class="card-img-top" id="caneca-img">
    <div class="card-body">
      <h5 class="card-title">Caneca Exemplo 1</h5>
      <p class="card-text">Descrição do produto</p>
      <label>Quantidade
        <select name="singleSelect" ng-model="data.singleSelect">
          <option value="option-1">1</option>
          <option value="option-2">2</option>
        </select>
        <br>
        <br>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
      </label>
    </div>
  </div>

  <div class="card card-muda text-white text-center" align="center">
    <img src="../assets/c1.png" class="card-img-top" id="caneca-img">
    <div class="card-body">
      <h5 class="card-title">Caneca Exemplo 1</h5>
      <p class="card-text">Descrição do produto</p>
      <label>Quantidade
        <select name="singleSelect" ng-model="data.singleSelect">
          <option value="option-1">1</option>
          <option value="option-2">2</option>
        </select>
        <br>
        <br>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
      </label>
    </div>
  </div>

  <div class="card" align="center">
    <img src="../assets/c2.png" class="card-img-top" id="caneca-img">
    <div class="card-body">
      <h5 class="card-title">Caneca Exemplo 1</h5>
      <p class="card-text">Descrição do produto</p>
      <label>Quantidade
        <select name="singleSelect" ng-model="data.singleSelect">
          <option value="option-1">1</option>
          <option value="option-2">2</option>
        </select>
        <br>
        <br>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
      </label>
    </div>
  </div>
</div>