<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/src/assets/tela-login.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
</head>

<body>

  <form class="contato">

    <div class="input">
      <input type="nome" placeholder="Nome" required />
      <span><i class="far fa-user"></i></span>
    </div>

    <div class="input">
      <input type="email" placeholder="Email" required />
      <span><i class="fa fa-envelope"></i></span>
    </div>

    <div class="input">
        <input type="password" placeholder="Senha de Acesso" required />
        <span><i class="fas fa-key"></i></span>
      </div>


      <div class="row" align="center">
          <div class="col-sm-8">
              <button type="button" class="btn btn-light" id="bt1">Emitir relatório em pdf</button>
          </div>
          <div class="col-sm-4">
              <button type="button" class="btn btn-light" id="bt2">Cancelar</button>
            </div>
        </div>

  </form>



</body>

</html>