<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar"
  style="background-color: #E94F37">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-effect waves-light" (click)="HomeComponent">Cadastro de Produtos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" (click)="ContatoComponent">Cadastro de Funcionários</a>
      </li>
    </ul>
    <form class="form-inline waves-effect waves-light">
      <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Search">
    </form>
  </div>
</nav>
