<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/src/assets/tela-login.js"></script>
</head>

<body>

    <form class="login">

      <div class="input">
        <input type="email" placeholder="Email" required />
        <span><i class="fa fa-envelope"></i></span>
      </div>

      <div class="input">
        <input type="password" placeholder="Senha de Acesso" required />
        <span><i class="fas fa-key"></i></span>
      </div>

      <div class="row" align="center">
        <div class="col-sm-4">
            <button type="button" class="btn btn-light" id="bt1">Criar cadastro.</button>
        </div>
        <div class="col-sm-8">
            <button type="button" class="btn btn-light" id="bt2">Esqueci minha senha.</button>
          </div>
      </div>

      <br>
      <button type="submit" class="submit"><i class="fas fa-arrow-alt-circle-right"></i></button>

      


      <div class="feedback">
        login successful <br /> redirecting...
      </div>

    </form>



</body>

</html>
