<div class="jumbotron" align="center">
  <img src="../assets/Canequeria.jpeg" id="config-img" align="left" />

  <div>
    <div class="card-columns">
      <div class="card" align="center">
        <img src="../assets/c1.png" class="card-img-top" id="caneca-img">
        <div class="card-body">
          <h5 class="card-title">Caneca Exemplo 1</h5>
          <p class="card-text">Descrição do produto</p>
          <label>Quantidade
            <select name="singleSelect" ng-model="data.singleSelect">
              <option value="option-1">1</option>
              <option value="option-2">2</option>
            </select>
            <div class="input">
              <input type="money" placeholder="Valor" required />
              <span><i class="fas fa-hand-holding-usd"></i></span>
            </div>
            <button type="button" class="btn btn-outline-secondary">Cadastrar</button>
          </label>
        </div>
      </div>
    </div>
  </div>